<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="TimeUntilNextSentMessageInMS" value="5000" />
    <add key="PathToSweetMessages" value="C:/Users/Messages.json" />
    <add key="TwilioAccountSID" value="" />
    <add key="TwilioAuthToken" value="" />
    <!--Prepend with +1, and ensure to add a Verified Caller ID on twilio. This is given by Twilio-->
    <add key="TwilioFromPhoneNumber" value="" />
    <!--Prepend with +1, and ensure to add a Verified Caller ID on twilio-->
    <add key="TwilioToPhoneNumber" value="" />
    <!--Prepend with +1, and ensure to add a Verified Caller ID on twilio. This is the number that is reached when there are no more messages to send.-->
    <add key="TwilioToPhoneNumberEmpty" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>